SUBSYSTEM=="backlight", ACTION=="add", RUN+="/bin/chgrp $USER /sys/class/backlight/%k/brightness"
SUBSYSTEM=="backlight", ACTION=="add", RUN+="/bin/chmod g+w /sys/class/backlight/%k/brightness"

